@charset "UTF-8";

#main {
	color:gray;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
 	background-color: rgba(0,0,0,0.7);
}

#logo {
	display: block;
	position: absolute;
	top: 25%;
	left: 40%;
}

#barsearchbutton {
	background-color: white;
	background: "/Assignment2Images/magnifying_glass.jpeg";
	width: 20px;
	height: 20px;
}

#showall {
	background-color: transparent;
	background: rgba(0,0,0,0.5);
	border: none;
	width: 100px;
	height: 30px;
	position: relative;
	top: 76%;
	left: 45%;
}

#Capital {
	text-align: left;
	color:white;
	position: absolute;
	top: 0px;
  	left: 0px;
  	@font-face {
	  font-family: myFont;
	  src: url(./Assignment2Images/Savoye_LET_Plain1.0.ttf);
	}
}

#form {
	display: inline-block;
	font-size: large;
	position: absolute;
	top: 63%;
	left: 40%;
}

#mytable {
	position:absolute;
	top:240px; 
	left:30px;
	font-color:white; 
	font-size:large; 
	background:transparent; 
	background-color:rgba(0,0,0,0.5);
	overflow: scroll;
	border: 2px solid white;
	border-collapse: collapse;
}

#sort {
	position: absolute;
	top: 270px;
	right: 50px;
	font-color:black;
	background: transparent;
}

#Sort {
	font-size: 30px;
	width: 200px;
	height: 30px;
}

#location {
	position: absolute;
	top: 100px;
	left:15%;
}

#templow {
	background: tansparent;
	position: absolute;
	top: 100px;
	left:35%;
}
#temphigh {
	background: tansparent;
	position: absolute;
	top: 100px;
	left:55%;
}
#wind {
	background: tansparent;
	position: absolute;
	top: 100px;
	left:75%;
}
#humidity {
	background: tansparent;
	position: absolute;
	top: 300px;
	left:15%;
}
#coordinates {
	background: tansparent;
	position: absolute;
	top: 300px;
	left:35%;
}
#currenttemp {
	background: tansparent;
	position: absolute;
	top: 300px;
	left:55%;
}
#sun {
	background: tansparent;
	position: absolute;
	top: 300px;
	left:75%;
}
