@charset "UTF-8";
body {
	font: sans-serif;
	margin: 2cm, 3cm, 5cm, 3cm;  <!-- up, left, down, right -->
	background-color: rgb(0, 0, 255);
	
	line-height: 30px;
	width: 100px;
	height: 100px;
}

.wrapper {
	position: absolute;
	color: blue;
	overflow: scroll;
}

#top, #sidebar, #bottom, .menuitem {
	border-radius: 2px;  <!-- circle border-->
	top: 0px;
	left: 0px;
	position: absolute;
	width: 150px;
	height: 150px;
	overflow:scroll;
}

#top #menubar #main {
	font: 400%;
	float: left;
}

#sidebar {
    background-color: #32a4e7;
    color: rgb(0, 150 255);
    padding: 20px;
    width: 10px;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
}

#bottom {
    border: 1px solid #d4d4d4;
    background-color: #0000f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#top h1, #top p, #menulist {
    margin: 0;
    padding: 0;
}

.menuitem {
    background-color: #0000ff;
    border: 1px solid #00d4ff;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
}

.menuitem:hover {
    background-color: #0000ff;
}

.menuitem:first-child {
   background-color:#0000ff;
   color: blue;
   font-weight:bold;
}

a {
    color: #0000ff;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

li a {
    text-decoration: none;
}
