body {
    font-family: Arial;
    background-color: #d14836;
    line-height: 20px;
}

.wrapper {
    position: relative;
    overflow: auto;
}

#top {
    color: rgb(255, 255, 0);
    padding: 20px;
    font-size: 15px;
    line-height: 200%;    
}

#top h1 {
	<!-- blank edge -->
    margin:0;
    <!-- line-height % or px -->
    line-height: 50%;
}

#menubar {
    width: 190px;
    float: left;
}

#main {
    padding: 10px;
    background-color: #01DF01;
    font: 80% Verdana;
}

#main h1, #main h2 {
    color: #DFF010;
}

#sidebar {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0px;
}

#bottom {
    text-align: justify;
    padding: 10px;
    font-size: 170%;
    color: rgb(255, 255, 255);
}

#menulist {
    padding:0;
    font: 16px verdana;
}

.menuitem {
    width: 155px;
    background-color: #d14836;
    border: 1px solid #d14836;
    border-radius: 40px;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.menuitem a {
    color: #ffffff;
}

.menuitem:nth-child(2) {
   background-color:white;
}

.menuitem:nth-child(2) a {
	color: #d14836;
	font-weight: normal;
}

.menuitem:hover {
    background-color: #ffff00;
}

.menuitem a:hover {
	color: #4836d1;
}

a {
    color: #4836d1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline overline;
}

#bottom a {
	color: white;
}